/nvim/.config/nvim/lazy-lock.json
/sway/.config/sway/env.conf
/env/.config/env/*
/scripts/.config/scripts/translate_langs.conf
/hyprland/.config/hypr/noctalia.lua
/kitty/.config/kitty/themes/noctalia.conf
